@import '~antd/dist/antd.css';
@import url('https://fonts.yecdn.com/css?family=Noto+Sans+SC&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans SC", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
